In [1]:
import os
import numpy as np
import pandas as pd
from pathlib import Path
from typing import List, Tuple
from preprocessing import clsf_boz_cd, clsf_rrnr_dvcd, clsf_dmfr_dvcd, clsf_crd_grd, get_cf

In [2]:
# 환경설정
pd.options.display.float_format = '{:,.0f}'.format
os.makedirs('result', exist_ok=True)

# 전역변수
FILE_PATH = Path('./data/현행추정부채_일반')

In [3]:
# 데이터 불러오기
일반_상품정보 = pd.read_excel(FILE_PATH / '일반_상품정보.xlsx', dtype={'PDC_CD': str, 'PDGR_CD': str})
일반_원수_미경과보험료 = pd.read_excel(FILE_PATH / '일반_원수_미경과보험료.xlsx', dtype={'RRNR_DAT_DVCD': str, 'RRNR_CTC_BZ_DVCD': str, 'ARC_INPL_CD': str})
일반_출재_미경과보험료 = pd.read_excel(FILE_PATH / '일반_출재_미경과보험료.xlsx', dtype={'RRNR_DAT_DVCD': str, 'RRNR_CTC_BZ_DVCD': str, 'ARC_INPL_CD': str, 'T02_RN_RINSC_CD': str})
재보험자_국내신용등급 = pd.read_excel(FILE_PATH / '재보험자_국내신용등급.xlsx', dtype={'재보험사코드': str}) \
    .rename(columns = {'재보험사코드': 'T02_RN_RINSC_CD', '국내신용등급': 'CRD_GRD'})
일반_보험금진전추이 = pd.read_excel(FILE_PATH / '일반_보험금진전추이.xlsx')
할인율 = pd.read_excel(FILE_PATH / '할인율.xlsx')

In [4]:
# 함수
cf = 일반_보험금진전추이.query('PDGR_CD == "26"')
pdgr_cd = '26'
cf_type = '보험료'
cf_t, cf = get_cf(일반_보험금진전추이.query('PDGR_CD == @pdgr_cd'), pdgr_cd, cf_type)
cf_t, cf*100

(0   0
 1   1
 2   2
 3   3
 4   4
 5   5
 dtype: float64,
 0   61
 1   20
 2   11
 3    6
 4    2
 5    1
 dtype: float64)

,BSE_YM,PDGR_CD,AY,BASE_1,BASE_2,BASE_3,BASE_4,BASE_5,BASE_6,BASE_7,...,누적비율,Spot Rate,할인요소_준비금부채,Unnamed: 20,Year.1,평균지급기간.1,조정비율,1-조정비율,Spot Rate.1,할인요소_보험료부채
0,201812,23,201412,9639925332,14877875923,14086542751,14017337616,13876794563,nan,nan,...,1,0,1,nan,1,0,1,1,0,1
1,201812,23,201512,14132224400,18746470441,18738660139,18653335765,18466310466,nan,nan,...,1,0,0,nan,2,1,1,0,0,0
2,201812,23,201612,14933019683,19095676600,19265830643,19175133889,18982876848,nan,nan,...,1,0,0,nan,3,2,1,0,0,0
3,201812,23,201712,7989873013,11083330122,10951097678,10899543762,10790260872,nan,nan,...,1,0,0,nan,4,3,1,0,0,0
4,201812,23,201812,14251631432,19473199402,19240869522,19150290277,18958282327,nan,nan,...,nan,일반/화재,1,nan,nan,nan,nan,nan,일반/화재,1
5,201812,24,201412,2190993214,6546162379,8047012762,8664280736,9424580163,nan,nan,...,1,0,1,nan,1,0,1,1,0,1
6,201812,24,201512,1846469310,6857098077,8666964580,10348464961,11256553263,nan,nan,...,1,0,0,nan,2,1,1,0,0,0
7,201812,24,201612,1536339115,2808637207,4916131681,5592275229,6083003055,nan,nan,...,1,0,0,nan,3,2,1,0,0,0
8,201812,24,201712,2127794805,8385689025,11188287245,12727076017,13843889853,nan,nan,...,1,0,0,nan,4,3,1,0,0,0
9,201812,24,201812,2086529202,6664018726,8891214007,10114073233,11001593422,nan,nan,...,nan,일반/기술,1,nan,nan,nan,nan,nan,일반/기술,1
10,201812,25,201212,1851882222,4561825848,5982780783,6461311027,6723370358,"6,846,374,995","6,863,832,132",...,1,0,1,nan,1,0,1,1,0,1
11,201812,25,201312,1105424656,4226455530,5288438649,6169553310,7155500149,"7,404,067,373","7,422,946,534",...,1,0,0,nan,2,1,1,0,0,0
12,201812,25,201412,2546061098,6050553296,8118595277,8961609811,9497800385,"9,752,080,109","9,776,946,319",...,1,0,0,nan,3,2,1,0,0,0
13,201812,25,201512,2317849265,6688999592,8782470990,9516056082,10302372470,"10,578,192,589","10,605,165,250",...,1,0,0,nan,4,3,1,0,0,0
14,201812,25,201612,1507634288,5786575921,8305598472,9171245951,9929070508,"10,194,896,406","10,220,891,725",...,1,0,0,nan,5,4,1,0,0,0
15,201812,25,201712,2196927242,6870750184,9175758424,10132097955,10969318186,"11,262,994,099","11,291,712,893",...,1,0,0,nan,6,5,1,0,0,0
16,201812,25,201812,1812336705,5375343579,7178670859,7926864785,8581865516,"8,811,623,387","8,834,091,586",...,nan,일반/근재,1,nan,nan,nan,nan,nan,일반/근재,1
17,201812,26,201212,8147352535,14103072070,15851858471,16656940334,17341043904,"17,654,517,024","17,965,442,849",...,1,0,1,nan,1,0,1,1,0,1
18,201812,26,201312,9475116011,15995594861,17972278804,19598536602,20671255572,"21,078,092,199","21,449,312,958",...,1,0,0,nan,2,1,1,0,0,0
19,201812,26,201412,11378873746,18831867447,21121469401,22292692998,22891808974,"23,325,594,705","23,736,397,775",...,1,0,0,nan,3,2,1,0,0,0
20,201812,26,201512,11841347391,22462688646,24648089880,26406932078,27469529055,"27,990,059,772","28,483,011,940",...,1,0,0,nan,4,3,1,0,0,0
21,201812,26,201612,15017396792,26842732919,30492014713,32545946885,33855573640,"34,497,115,983","35,104,668,387",...,1,0,0,nan,5,4,1,0,0,0
22,201812,26,201712,20020527650,35706389772,40013488719,42708784276,44427356692,"45,269,227,836","46,066,495,300",...,1,0,0,nan,6,5,1,0,0,0
23,201812,26,201812,17454015327,30809341516,34525731867,36851373911,38334248120,"39,060,658,596","39,748,582,683",...,nan,일반/배상,1,nan,nan,nan,nan,nan,일반/배상,1
24,201812,27,201412,11378873746,18831867447,21121469401,22292692998,22891808974,nan,nan,...,1,0,1,nan,1,0,1,1,0,1
25,201812,27,201512,11841347391,22462688646,24648089880,26406932078,27116618202,nan,nan,...,1,0,0,nan,2,1,1,0,0,0
26,201812,27,201612,15017396792,26842732919,30492014713,32444045948,33315979467,nan,nan,...,1,0,0,nan,3,2,1,0,0,0
27,201812,27,201712,20020527650,35706389772,39963807265,42522201677,43664985565,nan,nan,...,1,0,0,nan,4,3,1,0,0,0
28,201812,27,201812,17454015327,31111343197,34820874673,37050029933,38045749241,nan,nan,...,nan,일반/종합,1,nan,nan,nan,nan,nan,일반/종합,1
29,201812,28,201412,81350788944,110275568453,114406568035,115164409456,114960004991,nan,nan,...,1,0,1,nan,1,0,1,1,0,1
30,201812,28,201512,98737435202,135961712867,139385761614,139918245732,139669905865,nan,nan,...,1,0,0,nan,2,1,1,0,0,0
31,201812,28,201612,103740031266,139502027570,143061610386,143788961168,143533751197,nan,nan,...,1,0,0,nan,3,2,1,0,0,0
32,201812,28,201712,98042652655,128351894127,132050205207,132721572038,132486005494,nan,nan,...,1,0,0,nan,4,3,1,0,0,0
33,201812,28,201812,96465751323,129866384425,133608333787,134287622423,134049276307,nan,nan,...,nan,일반/상해,1,nan,nan,nan,nan,nan,일반/상해,1
34,201812,29,201412,31742706656,38974216740,39418314333,39641556637,39801553691,nan,nan,...,1,0,1,nan,1,0,1,1,0,1
35,201812,29,201512,61897964040,74273360263,74934483158,75162225228,75465587044,nan,nan,...,1,0,0,nan,2,1,1,0,0,0
36,201812,29,201612,54860569009,67511078335,66983950896,67248122091,67519541842,nan,nan,...,1,0,0,nan,3,2,1,0,0,0
37,201812,29,201712,77951985237,91466940491,91759465363,92121346191,92493156616,nan,nan,...,1,0,0,nan,4,3,1,0,0,0
38,201812,29,201812,75918454425,91263643940,91555518640,91916595143,92287579173,nan,nan,...,nan,일반/기타,1,nan,nan,nan,nan,nan,일반/기타,1
39,201812,31,201412,23165512567,49282091069,52863418852,55572771082,55826395537,nan,nan,...,1,0,1,nan,1,0,1,1,0,1
40,201812,31,201512,17110838872,45415395576,52771309458,54494949808,54743655274,nan,nan,...,1,0,0,nan,2,1,1,0,0,0
41,201812,31,201612,27765128630,42526329579,48326883743,50354935696,50584746858,nan,nan,...,1,0,0,nan,3,2,1,0,0,0
42,201812,31,201712,23401539297,40683239644,45645554332,47561083504,47778144012,nan,nan,...,1,0,0,nan,4,3,1,0,0,0
43,201812,31,201812,24220577067,47122367429,52870091015,55088800003,55340215698,nan,nan,...,nan,일반/해상,1,nan,nan,nan,nan,nan,일반/해상,1

In [21]:
# 데이터 전처리
일반_원수_미경과보험료['BOZ_CD'] = clsf_boz_cd(일반_원수_미경과보험료, 일반_상품정보)
일반_원수_미경과보험료['RRNR_DVCD'] = clsf_rrnr_dvcd(일반_원수_미경과보험료, '원수')
일반_원수_미경과보험료['DMFR_DVCD'] = clsf_dmfr_dvcd(일반_원수_미경과보험료)

일반_출재_미경과보험료['BOZ_CD'] = clsf_boz_cd(일반_출재_미경과보험료, 일반_상품정보)
일반_출재_미경과보험료['RRNR_DVCD'] = clsf_rrnr_dvcd(일반_출재_미경과보험료, '출재')
일반_출재_미경과보험료['DMFR_DVCD'] = clsf_dmfr_dvcd(일반_출재_미경과보험료)
일반_출재_미경과보험료['CRD_GRD'] = clsf_crd_grd(일반_출재_미경과보험료, 재보험자_국내신용등급)
일반_출재_미경과보험료

,RRNR_DAT_DVCD,RRNR_CTC_BZ_DVCD,NTNL_CTRY_CD,ARC_INPL_CD,T02_RN_RINSC_CD,T02_LTPD_RN_URND_PRM,BOZ_CD,RRNR_DVCD,DMFR_DVCD,CRD_GRD
0,01,3,KR,1040110,124012,244906286,A001,03,01,AA
1,01,3,KR,1054410,124012,277457,A007,03,01,AA
2,01,3,KR,1049210,124060,3997104940,A006,03,01,AAA
3,01,3,KR,1067110,124012,13935049,A007,03,01,AA
4,01,3,KR,1061610,122086,35489513,A007,03,01,AA-
...,...,...,...,...,...,...,...,...,...,...
1713,01,3,KR,1075010,511229,159905282,A004,03,01,AA+
1714,01,3,KR,1050310,511098,8226012,A003,03,01,AA
1715,01,3,KR,1050310,511127,5484008,A003,03,01,AA
1716,01,3,KR,1050310,511279,2742004,A003,03,01,AA
1717,01,3,KR,1050310,511283,3701705,A003,03,01,AA

In [22]:
# 데이터 집계
일반_원수_미경과보험료_집계 = 일반_원수_미경과보험료.groupby(['RRNR_DVCD', 'DMFR_DVCD', 'BOZ_CD'])['LTPD_URND_PRM'].sum().reset_index()
일반_원수_미경과보험료_집계.head()

  RRNR_DVCD DMFR_DVCD BOZ_CD  LTPD_URND_PRM
0        01        01   A001    23420916171
1        01        01   A002    27146263273
2        01        01   A003    96625029260
3        01        01   A004    22191701960
4        01        01   A005     5095840261

In [ ]:
# 데이터 내보내기