In [1]:
import os
import numpy as np
import pandas as pd
from pathlib import Path
from typing import List, Tuple
from preprocessing import (
    clsf_boz_cd, clsf_rrnr_dvcd, clsf_dmfr_dvcd, clsf_crd_grd, clsf_pdgr_cd,
    get_cf, get_disc_factor, get_loss_adj
)

In [2]:
# 환경설정
pd.options.display.float_format = '{:,.0f}'.format
os.makedirs('result', exist_ok=True)

# 전역변수
FILE_PATH = Path('./data/현행추정부채_일반')

In [3]:
# 데이터 불러오기
## 익스포져
일반_원수_미경과보험료 = pd.read_excel(FILE_PATH / '일반_원수_미경과보험료.xlsx', dtype={'RRNR_DAT_DVCD': str, 'RRNR_CTC_BZ_DVCD': str, 'ARC_INPL_CD': str})
일반_출재_미경과보험료 = pd.read_excel(FILE_PATH / '일반_출재_미경과보험료.xlsx', dtype={'RRNR_DAT_DVCD': str, 'RRNR_CTC_BZ_DVCD': str, 'ARC_INPL_CD': str, 'T02_RN_RINSC_CD': str})
일반_원수_예정보험료 = pd.read_excel(FILE_PATH / '일반_원수_예정보험료.xlsx', dtype={'RRNR_DAT_DVCD': str, 'RRNR_CTC_BZ_DVCD': str, 'ARC_INPL_CD': str})
일반_출재_예정보험료 = pd.read_excel(FILE_PATH / '일반_출재_예정보험료.xlsx', dtype={'RRNR_DAT_DVCD': str, 'RRNR_CTC_BZ_DVCD': str, 'ARC_INPL_CD': str, 'T02_RN_RINSC_CD': str})
일반_원수_개별추산액 = pd.read_excel(FILE_PATH / '일반_원수_개별추산액.xlsx', dtype={'RRNR_DAT_DVCD': str, 'RRNR_DMFR_DVCD': str, 'ARC_INPL_CD': str})
일반_출재_개별추산액 = pd.read_excel(FILE_PATH / '일반_출재_개별추산액.xlsx', dtype={'RRNR_DAT_DVCD': str, 'RRNR_DMFR_DVCD': str, 'ARC_INPL_CD': str, 'T02_RN_RINSC_CD': str})

## 기초정보, 가정 등
일반_상품정보 = pd.read_excel(FILE_PATH / '일반_상품정보.xlsx', dtype={'PDC_CD': str, 'PDGR_CD': str})
일반_보험금진전추이 = pd.read_excel(FILE_PATH / '일반_보험금진전추이.xlsx')
일반_최종손해율 = pd.read_excel(FILE_PATH / '일반_최종손해율.xlsx', dtype={'RRNR_DAT_DVCD': str, 'PDGR_CD': str}) \
        .rename(columns= {'RRNR_DAT_DVCD': 'RRNR_DVCD'})

## 공통
국가구분 = pd.read_excel(FILE_PATH / '국가구분.xlsx', dtype={'CNTR_CATG_CD': str})
재보험자_국내신용등급 = pd.read_excel(FILE_PATH / '재보험자_국내신용등급.xlsx', dtype={'재보험사코드': str}) \
        .rename(columns = {'재보험사코드': 'T02_RN_RINSC_CD', '국내신용등급': 'CRD_GRD'})
선도부도율 = pd.read_excel(FILE_PATH / '선도부도율.xlsx')
할인율 = pd.read_excel(FILE_PATH / '할인율.xlsx')

In [4]:
# 데이터 전처리
일반_원수_미경과보험료['RRNR_DVCD'] = clsf_rrnr_dvcd(일반_원수_미경과보험료, '원수')
일반_원수_미경과보험료['DMFR_DVCD'] = clsf_dmfr_dvcd(일반_원수_미경과보험료)
일반_원수_미경과보험료['BOZ_CD'] = clsf_boz_cd(일반_원수_미경과보험료, 일반_상품정보)
일반_원수_미경과보험료['PDGR_CD'] = clsf_pdgr_cd(일반_원수_미경과보험료, 일반_상품정보)

일반_출재_미경과보험료['RRNR_DVCD'] = clsf_rrnr_dvcd(일반_출재_미경과보험료, '출재')
일반_출재_미경과보험료['DMFR_DVCD'] = clsf_dmfr_dvcd(일반_출재_미경과보험료)
일반_출재_미경과보험료['BOZ_CD'] = clsf_boz_cd(일반_출재_미경과보험료, 일반_상품정보)
일반_출재_미경과보험료['PDGR_CD'] = clsf_pdgr_cd(일반_출재_미경과보험료, 일반_상품정보)
일반_출재_미경과보험료['CRD_GRD'] = clsf_crd_grd(일반_출재_미경과보험료, 재보험자_국내신용등급)

일반_원수_예정보험료['RRNR_DVCD'] = clsf_rrnr_dvcd(일반_원수_예정보험료, '원수')
일반_원수_예정보험료['DMFR_DVCD'] = clsf_dmfr_dvcd(일반_원수_예정보험료)
일반_원수_예정보험료['BOZ_CD'] = clsf_boz_cd(일반_원수_예정보험료, 일반_상품정보)
일반_원수_예정보험료['PDGR_CD'] = clsf_pdgr_cd(일반_원수_예정보험료, 일반_상품정보)

일반_출재_예정보험료['RRNR_DVCD'] = clsf_rrnr_dvcd(일반_출재_예정보험료, '출재')
일반_출재_예정보험료['DMFR_DVCD'] = clsf_dmfr_dvcd(일반_출재_예정보험료)
일반_출재_예정보험료['BOZ_CD'] = clsf_boz_cd(일반_출재_예정보험료, 일반_상품정보)
일반_출재_예정보험료['PDGR_CD'] = clsf_pdgr_cd(일반_출재_예정보험료, 일반_상품정보)
일반_출재_예정보험료['CRD_GRD'] = clsf_crd_grd(일반_출재_예정보험료, 재보험자_국내신용등급)

일반_원수_개별추산액['RRNR_DVCD'] = clsf_rrnr_dvcd(일반_원수_개별추산액, '원수')
일반_원수_개별추산액['DMFR_DVCD'] = clsf_dmfr_dvcd(일반_원수_개별추산액)
일반_원수_개별추산액['BOZ_CD'] = clsf_boz_cd(일반_원수_개별추산액, 일반_상품정보)
일반_원수_개별추산액['PDGR_CD'] = clsf_pdgr_cd(일반_원수_개별추산액, 일반_상품정보)

일반_출재_개별추산액['RRNR_DVCD'] = clsf_rrnr_dvcd(일반_출재_개별추산액, '출재')
일반_출재_개별추산액['DMFR_DVCD'] = clsf_dmfr_dvcd(일반_출재_개별추산액)
일반_출재_개별추산액['BOZ_CD'] = clsf_boz_cd(일반_출재_개별추산액, 일반_상품정보)
일반_출재_개별추산액['PDGR_CD'] = clsf_pdgr_cd(일반_출재_개별추산액, 일반_상품정보)
일반_출재_개별추산액['CRD_GRD'] = clsf_crd_grd(일반_출재_개별추산액, 재보험자_국내신용등급)

In [50]:
# 데이터 집계
## 미경과보험료
일반_원수_미경과보험료_집계 = 일반_원수_미경과보험료.copy()
일반_원수_미경과보험료_집계['RRNR_DVCD'] = '04'
일반_원수_미경과보험료_집계.loc[lambda x: x['DMFR_DVCD'] == '02', 'BOZ_CD'] = '#'
일반_원수_미경과보험료_집계 = 일반_원수_미경과보험료_집계.groupby(['RRNR_DVCD', 'DMFR_DVCD', 'BOZ_CD'])['LTPD_URND_PRM'].sum().reset_index()
일반_원수_미경과보험료_집계 = 일반_원수_미경과보험료_집계.rename(columns = {'LTPD_URND_PRM': 'URND_PRM'})

일반_출재_미경과보험료_집계 = 일반_출재_미경과보험료.copy()
일반_출재_미경과보험료_집계.loc[lambda x: x['DMFR_DVCD'] == '02', 'BOZ_CD'] = '#'
일반_출재_미경과보험료_집계 = 일반_출재_미경과보험료_집계.groupby(['RRNR_DVCD', 'DMFR_DVCD', 'BOZ_CD'])['T02_LTPD_RN_URND_PRM'].sum().reset_index()
일반_출재_미경과보험료_집계 = 일반_출재_미경과보험료_집계.rename(columns = {'T02_LTPD_RN_URND_PRM': 'URND_PRM'})

일반_미경과보험료_집계 = pd.concat([일반_원수_미경과보험료_집계, 일반_출재_미경과보험료_집계], axis=0).reset_index(drop=True)

## 예정보험료
일반_원수_예정보험료_집계 = 일반_원수_예정보험료.copy()
일반_원수_예정보험료_집계['RRNR_DVCD'] = '04'
일반_원수_예정보험료_집계.loc[lambda x: x['DMFR_DVCD'] == '02', 'BOZ_CD'] = '#'
일반_원수_예정보험료_집계 = 일반_원수_예정보험료_집계.groupby(['RRNR_DVCD', 'DMFR_DVCD', 'BOZ_CD'])['WNCR_CNV_EPCT_PRM'].sum().reset_index()
일반_원수_예정보험료_집계 = 일반_원수_예정보험료_집계.rename(columns = {'WNCR_CNV_EPCT_PRM': 'EPCT_PRM'})

일반_출재_예정보험료_집계 = 일반_출재_예정보험료.copy()
일반_출재_예정보험료_집계.loc[lambda x: x['DMFR_DVCD'] == '02', 'BOZ_CD'] = '#'
일반_출재_예정보험료_집계 = 일반_출재_예정보험료_집계.groupby(['RRNR_DVCD', 'DMFR_DVCD', 'BOZ_CD'])['WNCR_CNV_RN_PRM'].sum().reset_index()
일반_출재_예정보험료_집계 = 일반_출재_예정보험료_집계.rename(columns = {'WNCR_CNV_RN_PRM': 'EPCT_PRM'})

일반_예정보험료_집계 = pd.concat([일반_원수_예정보험료_집계, 일반_출재_예정보험료_집계], axis=0).reset_index(drop=True)

일반_보험료익스포져 = 일반_미경과보험료_집계.merge(일반_예정보험료_집계, on=['RRNR_DVCD', 'DMFR_DVCD', 'BOZ_CD'], how='outer') \
        .assign(URND_PRM = lambda x: x['URND_PRM'].fillna(0).astype(float)) \
        .assign(EPCT_PRM = lambda x: x['EPCT_PRM'].fillna(0).astype(float))
일반_보험료익스포져

   RRNR_DVCD DMFR_DVCD BOZ_CD        URND_PRM       EPCT_PRM
0         04        01   A001  23,420,916,171              0
1         04        01   A002  27,599,989,968  1,655,668,169
2         04        01   A003  96,919,532,915  3,881,525,083
3         04        01   A004  23,093,930,741 12,982,384,892
4         04        01   A005   5,488,832,989  1,000,300,401
5         04        01   A006  66,551,730,700  3,223,443,768
6         04        01   A007  93,999,089,721  4,971,387,805
7         04        01   A008   4,773,218,318              0
8         04        01   A009   8,675,613,167              0
9         04        01   A010  75,028,541,789      8,993,019
10        04        01   A011       7,400,376     23,062,500
11        04        02      # 155,264,148,378              0
12        03        01   A001   3,754,561,388              0
13        03        01   A002  14,521,450,655  1,062,459,968
14        03        01   A003  46,151,017,206    893,570,548
15        03        01   A004  17,886,144,139 10,110,723,139
16        03        01   A005     959,923,559    129,191,451
17        03        01   A006  36,191,774,534  1,145,958,079
18        03        01   A007  27,671,975,602  1,630,409,985
19        03        01   A009   6,211,002,671              0
20        03        01   A010  42,352,648,305      4,950,148
21        03        01   A011       3,340,223     21,909,375
22        03        02      #  40,919,414,365              0

In [7]:
# 데이터 내보내기

   RRNR_DVCD DMFR_DVCD BOZ_CD  LTPD_URND_PRM
0         01        01   A001    23420916171
1         01        01   A002    27146263273
2         01        01   A003    96625029260
3         01        01   A004    22191701960
4         01        01   A005     5095840261
5         01        01   A006    66353121310
6         01        01   A007    93981583216
7         01        01   A008     4773218318
8         01        01   A010    73720023337
9         01        01   A011        3516025
10        01        02   A001    20048181952
11        01        02   A002     2190076662
12        01        02   A003    92312103939
13        01        02   A004      200951900
14        01        02   A005     4517117845
15        01        02   A006    14017269277
16        01        02   A007       56403993
17        01        02   A010       11088348
18        01        02   A011      257009507
19        02        01   A002      453726695
20        02        01   A003      294503655
21        02        01   A004      902228781
22        02        01   A005      392992728
23        02        01   A006      198609390
24        02        01   A007       17506505
25        02        01   A009     8675613167
26        02        01   A010     1308518452
27        02        01   A011        3884351
28        02        02   A001       45261940
29        02        02   A002      107848300
30        02        02   A003    20952171307
31        02        02   A004      463692342
32        02        02   A006       36680238
33        02        02   A007       48290828
34        02        02   A010              0