In [18]:
import os
import numpy as np
import pandas as pd
from pathlib import Path

In [23]:
# 환경설정
pd.options.display.float_format = '{:,.0f}'.format
os.makedirs('result', exist_ok=True)

# 전역변수
FILE_PATH = Path('./data/현행추정부채_일반')

In [28]:
# 데이터 불러오기
일반_상품정보 = pd.read_excel(FILE_PATH / '일반_상품정보.xlsx', dtype={'PDC_CD': str, 'PDGR_CD': str})
일반_원수_미경과보험료 = pd.read_excel(FILE_PATH / '일반_원수_미경과보험료.xlsx', dtype={'RRNR_DAT_DVCD': str, 'RRNR_CTC_BZ_DVCD': str, 'ARC_INPL_CD': str})

In [30]:
일반_원수_미경과보험료

    RRNR_DAT_DVCD RRNR_CTC_BZ_DVCD NTNL_CTRY_CD ARC_INPL_CD  LTPD_URND_PRM
0              01                3           KR     1047410       32305866
1              03                2           GB     1050310       18566976
2              03                2           WX     1050310     2083512793
3              01                2           US     1041110      988081112
4              03                3           KR     1041410      154627460
..            ...              ...          ...         ...            ...
369            03                2           WW     1071011       69960725
370            01                3           KR     1054310       50979107
371            01                3           KR     1350210          20020
372            03                3           SA     1047610        2380532
373            03                2           JP     1073010           1973

[374 rows x 5 columns]